*{margin:0; padding:0;}
body { font-family: 'Open Sans', sans-serif; font-size:14px;}
#wrapper { width:100%;}
.container { width:100%; max-width:1100px; margin:0 auto;}
.header-top { width:100%;}
.logo { width:100%; float:left; margin:40px 0;}
.login { float: right; margin-top: 10px; color: #118ed5; font-size: 14px; font-weight:600;}
.login a { color: #118ed5; font-size: 14px; font-weight:600;}
.social_links,  .navbar_main {  float:right; }
.navbar_main { margin-top:5px; }
.social_links { clear:both; margin-top: 20px; }
.nav.navbar-nav a { color: #d89b03;text-transform: uppercase; transition: all 0.2s ease-in-out 0.2s; -webkit-transition: all 0.2s ease-in-out 0.2s; -moz-transition: all 0.2s ease-in-out 0.2s;}
.nav > li > a:hover, .nav > li > a:focus { background-color: #d89b03; color:#fff;}
.social_links i { border-radius: 20px; box-shadow: 0 2px 2px #c1c1c1; color: #ffffff; font-size: 18px; padding: 7px 8px;}
.social_links .icon-facebook { background-color: #4060a5; padding: 7px 12px;}
.social_links .icon-twitter { background-color: #00abe3; }
.social_links > a:hover {text-decoration:none;}
.btn {padding: 7px 35px; }
.social_links .icon-google-plus { background-color: #e64522; }
.btn, .btn:hover, .btn:focus {font-size:16px; text-transform: capitalize; background-color:#d89b03; position:relative;}
.btn-primary, .btn-primary:hover, .btn-primary:focus {border-color: #cd9000;}
.edit_btn {background-image: url("../images/edit_icon.png");background-position: left 23px top 7px;background-repeat: no-repeat; padding-left:55px}
.btn::after {background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;content: "";height: 100%;left: 0;position: absolute;top: 0;transition: all 0.3s ease-in-out 0.3s;width: 5px !important;}
.btn:hover::after, .btn:focus::after {background: rgba(0, 0, 0, 0.10) none repeat scroll 0 0;content: "";position: absolute;width: 100% !important;}
.blue{color:#2a629d !important; }
a:hover{text-decoration:none;}
textarea {resize:none;}
:focus {outline: medium none;outline-offset: 0 !important;}

/****    SECTION    ****/
section {border-top: 1px solid #e7e7e7;padding-top: 40px;}
.slider .item > img { width: 100% !important; }
.search{ margin: 60px 0; position:relative;}
.search .form-control { background-color: #f5f4f3; border: 1px solid #dadada; border-collapse: collapse; box-shadow: none; height: 70px; border-radius:0; font-size: 18px; color: #5c5d5d;}
.search input.search_inp { border-radius:30px; -webkit-border-radius:30px; -moz-border-radius:30px; font-size: 18px;  padding-right: 665px; padding-left: 25px;}
.right_search { position: absolute;right: 0px;top: 0;}
.right_search select.form-control { -moz-appearance: none; -webkit-appearance: none; appearance: none; background: #f5f4f3 url("../images/arrow.png") no-repeat scroll;background-position:right 5px top 30px;min-width: 150px;padding-right: 26px; border-right: 0; }
.search .date .form-control{background: #f5f4f3 url("../images/calender.png") no-repeat scroll; background-position:right 2px top 12px; border-right:0; }
.search_btn .form-control {  border-bottom-right-radius: 30px; border-top-right-radius: 30px;  width: 68px; background: #d89b03 url("../images/search_icon.png") no-repeat scroll; background-position: center center;}
.right_search select.form-control option { font-size: 15px;padding: 8px;}
.right_search select.form-control > option:hover, select>option:hover,  select:focus >option:hover{ background-color: #d89b03 !important; color:red !important;}
.map_section h3{ color:#4e4f4f; margin-bottom:20px;}
.map_section > img { width: 100%;}
.create_peg_sec { text-align: center; margin:60px 0 80px;}
.create_peg_btn { background-color: #d89b03;color: #ffffff;display: inline-block;padding: 15px 80px; text-transform:uppercase; font-size:36px; transition:all 0.2s ease-in-out 0.2s; -moz-transition:all 0.2s ease-in-out 0.2s; -webkit-transition:all 0.2s ease-in-out 0.2s; position:relative;}
.create_peg_btn:hover{color:#ffffff; text-decoration:none;}
.create_peg_btn::after {background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;content: "";height: 100%;left: 0;position: absolute;top: 0;transition: all 0.3s ease-in-out 0.3s;width: 5px !important;}
.create_peg_btn:hover::after {background: rgba(0, 0, 0, 0.10) none repeat scroll 0 0;content: "";position: absolute;width: 100% !important;}


footer { background-color: #edebe8;padding: 20px 0 10px;}
.foot_left p { color: #818181;}
.foot_links{ float:right;}
.foot_links li { display: inline;list-style: outside none none;}
.foot_links li a{color:#818181; }


/****       USER PROFILE PAGE   *****/
.banner_image > img {max-width: 100%;}
.user_profile_sec .left_side_bar {padding-left: 15px;}
.user_profile_sec .profile_image {margin-top:-180px; height: 255px; width: 250px; overflow:hidden;}
.user_profile_sec .profile_image > img {max-width: 100%;}
.user_profile_sec .user_name > span {color: #5c5d5d;font-size: 18px; text-transform: uppercase;}
.user_profile_sec .user_name {padding: 15px 0;}
.user_profile_sec .user_address > span {color: #8a8a8a;font-size: 15px;}
.user_profile_sec .user_address{padding-bottom:15px;}
.user_profile_edit_btn {margin-bottom:30px;}
.frind_list{background-color:#efefef; padding:15px 20px;}
.frind_list h3 { color: #5c5d5d;font-size: 18px;font-weight: 600; margin:0 0 20px 0;}
.frind_list_img > span {display: inline-block;margin-bottom: 20px;margin-right: 20px; width:54px; height:52px; overflow:hidden;}
.frind_list_img > span:nth-child(3n) {margin-right: 0;}
.frind_list_img > span img {max-width:100%;}
.view_all_link, .view_all_link:hover{ color:#d89b03; font-size:14px; text-decoration:underline; float:right;}
.invite_btn {padding:15px 0;}
.invite_btn .btn {color: #ffffff;padding: 7px;width: 100%; font-size:16px; font-weight:600; text-transform:uppercase;}
.event_calender_img{margin:20px 0 50px 0; max-width: 100%;}


/****       TRAINER PROFILE PAGE   *****/
.trainer_sec { margin-top: -120px;}
.triner_info .profile_image {float: left;}
.trainer_info_right { float: left;max-width: 465px;width: 100%; min-height: 320px;  background-color: #f5f5f5; padding-top:15px; border: 1px solid #d2d2d0;}
.trainer_sec .event_calender_img { max-width: 100%;}
.trainer_info_right .user_name, .trainer_info_right .user_address, .trainer_info_right .user_profile_edit_btn, .trainer_info_right .user_tag{padding-left:30px; margin-bottom:10px;}
.triner_info .user_name > span { color: #d89b03;font-size: 24px;font-weight: 700;}
.triner_info .user_tag > span {color: #5c5d5d; font-size: 14px;}
.triner_info .user_address > span { color: #5c5d5d;font-size: 18px;}
.triner_info .button.user_profile_edit_btn { margin-top: 30px;}
.triner_box_part{border-top:1px solid #d2d2d0; border-bottom:1px solid #d2d2d0;}
.triner_box_part a { color:#5c5d5d; font-size:18px; border-right: 1px solid #d2d2d0; float:left;}
.triner_box_part a:nth-last-child(2) {border:none;}
.triner_box_part span { float: left;padding: 5px 20px; text-align: center; line-height: 25px;}
.triner_box_part a.blue{ font-size: 14px;}
.trainer_des { background-color:#ffffff; padding: 10px 50px 10px 10px;; position:relative;}
.trainer_des span.toggle_image{position:absolute; right:10px;  top: 15px;}
.trainer_des > span {color: #d89b03;}
.frind_list .social_links { margin-bottom: 10px;margin-top: 0;width: 100%;}
.right_side_bar .frind_list { border-bottom: 1px solid #d2d2d0;}
.blog_list {border-bottom:none;}
.frind_list.blog_list a {color: #a1a1a1;}
.frind_list.blog_list a:hover {color: #d89b03; text-decoration:none;}
.frind_list.blog_list li { list-style: outside none none;margin-bottom: 10px;}

/****       ALL FRIENDS PAGE   *****/
.all_frnd_sec h2 { color: #5c5d5d;display: inline-block;font-size: 24px; margin-top:40px; text-transform: uppercase;}
.triner_box_part.user_box_part { border: 1px solid #d2d2d0; margin-top: 15px; background-color: #f5f5f5;}
.triner_box_part.user_box_part span { padding: 5px 35px;}
.frnd_search {float: right;margin-top: 30px;max-width: 290px;position: relative;width: 100%;}
.frnd_search > input {padding-right: 65px; height:45px;}
.frnd_search .frnd_search_btn {position:absolute; right:0; top:0;}
.frnd_search_btn .form-control { background: #d89b03 url("../images/search_icon.png") no-repeat scroll center center;border-radius: 0 4px 4px 0;width: 50px; height: 45px; border:none;}
.all_frnd_list { clear: both;list-style: outside none none;margin-top: 30px;}
.all_frnd_list > li {width: 24.2%; margin-bottom: 30px; display: inline-block;  margin-right: 1%; float:left;}
.all_frnd_list > li:nth-child(4n) {margin-right: 0;}
.all_frnd_list span {float: left;margin-top: 10px;text-align: center;width: 100%;}
.all_frnd_list a { color: #d89b03;font-size: 16px;}
.add_frnd_btn {display: inline-block;margin: 10px 0 10px 40px;}

/****       USER MESSAGE PAGE   *****/
.frnd_msg_block {background-color: #fefbf2;font-size: 16px;margin-top: 20px;padding: 15px;}
.frnd_msg_block_name {color: #d89b03; text-transform: uppercase;}
.frnd_msg_block_msg > p {color: #000000;margin-bottom: 0;margin-top: 8px;}
.user_msg_block {background-color: #f3f7f7;font-size: 16px;margin-top: 20px;padding: 15px;  text-align: right;}
.user_msg_block_name {color: #1268b5; text-transform: uppercase;}
.user_msg_block_msg > p {color: #000000;margin-bottom: 0;margin-top: 8px;}
.write_msg_block {margin: 30px 0 60px;}


/****    FRIEND PROFILE PAGE   *****/
.frnd_profile_btn span.first_border{border-right: 1px solid #dadada;}
.triner_box_part .frnd_profile_btn span {padding-top:11px; padding-bottom:10px;}


/****  search_event_page   *****/
.search_event {  margin: 0 60px;  position: relative;}
.Pegs {  background: none repeat scroll 0 0 #d89b03;margin-top:70px; }
.Pegs h3 {  color: #ffffff ;  font-family: open sans;  font-size: 36px;  line-height: 60px;  margin: 0;}

/****  blog page   *****/
.blg_content {padding-bottom: 70px;}
.blg {background-color: #f5f4f3;border: 2px solid #dbdbdb;display: inline-block;padding: 20px;margin-bottom: 50px;}
.blg_ryt strong {color: #d89b03;font-size: 18px;line-height: 45px;}
.blg_ryt > p:first-child {margin-top: 10px;}
.blg_ryt p {color: #5d5d5d;font-family: open sans;font-size: 14px;line-height: 24px;}
.blg_ryt a{color: #1fa3b6;text-decoration:none;}
.blg_content h3 {color: #d89b03;font-size: 30px;line-height: 30px;margin: 0;padding: 0 0 30px;}
.cmnt_list > p {font-size: 14px;background-color: #f1f1f1;border: 1px solid #e4e4e4;line-height: 35px;margin: 0;padding: 10px 15px;}
.cmnt_list > p.blog5_img { background-image: url("../images/blog5.png");background-position: right 15px center;background-repeat: no-repeat;}
.cmnt_list > p.blog6_img { background-image: url("../images/blog6.png");background-position: right 15px center;background-repeat: no-repeat;}
.cmnt_list > p.blog7_img { background-image: url("../images/blog7.png");background-position: right 15px center;background-repeat: no-repeat;}
.cmnt_list {margin-bottom: 30px;width: 100%;}

.blog_detail .blg_content {padding-bottom: 0;}
.comment {padding-top: 20px;width: 100%;}
.comment > strong {clear: both !important;color: #4e4f4f;font-family: open sans;font-size: 24px;font-weight: normal;line-height: 48px;margin: 0;width: 100%;}
.blog_detail .blg {margin-bottom: 15px;}
.comment textarea {width: 100%; padding: 12px; border: 1px solid #e4e4e4;}
::-webkit-input-placeholder {color: #5c5d5d;}
::-moz-placeholder { /* Firefox 19+ */color: #5c5d5d;}
:-ms-input-placeholder {color: #5c5d5d;}
:-moz-placeholder { /* Firefox 18- */color: #5c5d5d;}
.cmnt_list p strong {margin-right: 12px;	}
.btn_ryt {float: right;}
.blg_lft > img {width: 100%;}
.blg_btn {margin: 35px 0;}
.btn_ryt {padding: 7px 35px 7px 36px;}

/****  Create event page    *****/
.event_title input {height: 45px;width: 100%; padding: 0 10px;}
.event_title p {color: #d89b03;font-family: open sans;font-size: 24px;line-height: 30px;margin-bottom: 0;padding: 5px 0;}
.event_location p {color: #d89b03;font-family: open sans;font-size: 24px;line-height: 30px; margin-bottom: 2px;margin-top: 50px;}
.event_location hr {border: 1px solid #d99d07;color: #d99d07;margin: 0 0 30px;width: 113px;}
.event_location > img {width: 100%;}
.event_date p {color: #d99d07;font-size: 24px;line-height: 30px;    margin-bottom: 25px;}
.event_date {padding: 36px 0 0;}
.event_date span{color: #676766;font-size: 18px;}
.event_date span.date2 input {background-image: url("../images/calender2.png");background-position: right 8px center;background-repeat: no-repeat;display: inline-block;height:40px;margin: 0 8px;max-width: 150px;padding: 10px;width: 100%;}
.event_date span.time input {background-image: url("../images/arrow.png");background-position: right 8px center;background-repeat: no-repeat;height: 40px; margin: 0 8px;max-width: 150px;padding: 10px;width: 100%;display: inline-block;}
.event_description {margin-top: 30px;}
.event_description strong {color: #4e4f4f;float: left;font-size: 24px;font-weight: normal;line-height: 30px;width: 100%;}	
.event_description textarea {    float: left;margin-top: 15px;padding: 21px;width: 100%;}
.event_member {padding: 40px 0;}
.event_member p{color: #d89b03;font-size: 24px;font-weight: normal;line-height: 30px;}
.event_member  input {height: 40px;margin-bottom: 15px;max-width: 150px;padding: 5px;width: 100%;}
.create_evnt_btn .btn.btn-primary {background-image: url("../images/btn.png");background-position: right 10px center;background-repeat: no-repeat;height: 47px;padding: 0 54px 0 23px;}
.m1{padding-left:0;}
.member {float: left;width: 100%;}
.create_evnt_btn {float: left;margin: 30px 0 !important;width: 100%;}

/****   edit event page   *****/
.edit_block h3 strong {color: #232323;}
.edit_block h3 {color: #5c5d5d;font-size: 14px;line-height: 30px;}
.edit_block p {background: none repeat scroll 0 0 #f1f1f1;color: #5c5d5d;font-size: 14px;padding: 15px;}
.edit_block  .edit { background-image: url("../images/edit.png");background-position: right 9px center;background-repeat: no-repeat; padding:7px 35px  7px 13px;}
.edit_block .cncl_evnt { background-image: url("../images/evnt.png");background-position: right 6px center;background-repeat:no-repeat;padding:7px 39px 7px 17px ;margin-left:10px;}
.edit_block h4 {margin-bottom: 80px;margin-top: 25px;}
.edit_block > img {width: 100%;}

/****  login page   *****/

.login_lft p .login_btn {background-image: url("../images/login.png");background-position: right 15px center;background-repeat: no-repeat;padding: 7px 52px 7px 25px;}
.login_lft input {background: none repeat scroll 0 0 #ffffff;border: 1px solid #dddddd;color: #000000;height: 40px;margin-bottom: 30px;max-width: 345px;padding: 7px;width: 100%;}
.login_lft h3 {color: #d89b03;font-size: 30px;font-weight: normal;line-height: 40px;margin-bottom: 40px;}
.login_lft p span a {color: #048bb7;font-family: open sans light;font-size: 14px;text-decoration:none;}
.login_lft span {margin-left: 20px;}
.login_lft h5 a {border-bottom: 1px solid;color: #d89b03;font-family: open sans semibold;margin-left: 10px;text-decoration:none;}
.login_lft h5 {color: #4a4a4a;font-family: open sans light;font-size: 14px; margin-top: 30px;}
.login_block {background: none repeat scroll 0 0 #f1f1f1;margin-bottom: 50px;padding: 30px 30px 60px;}
.login_lft > img {margin: 45px 0 0;}
.login_lft.login_mdl {text-align: center;}
.login_ryt {padding-left: 25px;}

/****  Register   *****/
.login_lft h4 {color: #d89b03;font-size: 30px;font-weight: normal;line-height: 40px;margin-top: 20px; margin-bottom: 15px;}
.radio input {width: auto;}
.radio p {color: #4a4a4a;font-family: open sans light;font-size: 14px;margin-bottom: 0;margin-top: 15px;}
.radio {margin: 0;}
.register i.glyphicon.glyphicon-euro {margin: 0 3px; color:#767676;font-size: 12px;}
.membership .glyphicon.glyphicon-minus-sign {margin: 0 8px;color:#767676;}
.register_btn, .register_btn:hover {background-image: url("../images/register.png");background-position: right 16px center;background-repeat: no-repeat;margin-top: 15px;padding: 7px 56px 7px 27px; }
.p_last {  margin: 0 0 0 -6px !important;}
.membership {margin-top: 20px;padding-left: 20px;}
.membership, .register {  color: #4a4a4a;  font-family: open sans light;  font-size: 14px;  margin-top: 20px;}
.membership > p {margin-top: 8px;font-size:14px; line-height: 41px;}
.membership p a {color: #d89b03;font-size: 14px;font-weight: 700;  border-bottom: 1px solid;}

/****  send_msg popup   *****/
.send_content {background-color: #f5f4f3;}
.popup_body h3 {color: #d89b03;font-family: open sans;font-size: 24px;line-height: 62px;margin-top: 0;}
.btn.btn-primary.add_frnd {float: right;font-size: 12px;padding: 3px 8px;position: absolute;right: 50px;}
.btn.btn-primary.cls {float: right;font-size: 12px;padding: 3px 8px;}
.popup_footer {border-top: 0 none;}
.snd_pop_head {border-bottom: 1px solid #cecece;}
.snd_pop_head h4 {color: #4e4f4f;font-size: 24px;line-height: 30px;margin-top: 20px;}
.popup_dialog { width: 700px;}

/****  fix footer   *****/
html{height:100%;min-height:100%;}
body{height:auto;min-height:100%;padding-bottom:60px;position:relative;margin-bottom:0;}
footer{position:absolute;right:0;bottom:0;left:0;height:60px;}
.form-control {border: 1px solid #e4e4e4;}



/****  jan 22 css changes  *****/
/****  profile page  *****/
.upload-profile {color: #ffffff !important;display: none;left: 7px;position: absolute;top: 5px;}
.profile_image:hover .upload-profile, .banner_image:hover .upload-banner{display:block;}
.profile_image, .banner_image{position:relative; cursor: pointer;}
.upload-banner {color: #ffffff !important;display: none;right: 7px;position: absolute;top: 5px;}
#imageUpload > input {
  left: -69px;
  position: absolute;
}
.upload-banner > form {
  text-align: right;
}
.profile_image #imageUpload > input {
  left: 0;
  position: absolute;
}

/****      RESPONSIVE CODE     *****/
@media (min-width:1023px) and (max-width:1087px){
.trainer_info_right {max-width: 411px;}
}
@media (min-width:991px) and (max-width:1024px){
.trainer_info_right {max-width: 394px;}
}
@media (min-width:768px) and (max-width:1025px){
/****  TrainerProfilePage     *****/
.event_calender {text-align: center;}
}
@media (min-width:992px){
/****       TRAINER PROFILE PAGE   *****/
.trainer_sec .col-xs-12.col-md-3 {width: 28%;  max-width: 297px; padding-right:30px;}
.trainer_sec .col-xs-12.col-md-9 {width: 72%; padding-left:30px;}
/****       USER PROFILE PAGE   *****/
.banner_image > img {max-width: 100%;}
.user_profile_sec .col-xs-12.col-md-3 {width: 28%;  max-width: 297px;}
.user_profile_sec .col-xs-12.col-md-9 {width: 72%;}
}
@media (max-width:991px){
.user_profile_sec .event_calender {margin-top: 30px;}
.user_profile_sec .left_side_bar {padding-left:0;}
.frind_list_img > span:nth-child(3n) {margin-right: 10px;}
.frind_list_img > span {margin-right: 10px;}
}
@media (min-width:992px) and (max-width:1180px){
.frind_list_img > span {margin-right:7px;}
}
@media (min-width:768px) and (max-width:1023px){
.search .form-control {font-size:14px;}
.search input.search_inp{font-size:14px;}
.search .date .form-control {width: 180px !important;}
.search input.search_inp {padding-right:565px;}

/*****   FRIEND PROFILE PAGE    *****/
.triner_box_part .frnd_profile_btn span {padding-left:30px; padding-right:30px;}
}
@media (max-width:767px){
.logo {text-align: center; margin:20px 0;}
button.navbar-toggle {background-color: #d89b03; float: left !important;}
.icon-bar {background-color: #ffffff;}
.social_links {margin-bottom: -39px;position: relative;z-index: 1;}
.header-top .col-sm-9.col-xs-12 {z-index: 1;}
nav.navbar_main {float: left;width: 100%;}

.right_search.form-inline {position: relative;}
.input-group.date {width: 100%;}
.search .form-control.search_inp {border-radius: 0;padding: 6px 8px;width: 100% !important;}
.right_search .form-control {width: 100% !important; border-radius:0; border:1px solid #dadada;}
.create_peg_btn{padding: 15px 20px; font-size: 20px;}
.foot_left p {text-align: center;}
.foot_links{text-align:center; width:100%; float:left;}

/*****   Create event page     *****/
.event_date span.time input, .event_date span.date2 input {max-width: 100px;}
/*****   *blog page     *****/
.blg_lft > img {width: auto;}
.blg_lft {margin-bottom: 20px;text-align: center;}
.blg_ryt strong {float: left;text-align: center;width: 100%;}
.search_event {margin: 60px 0;}
/*****   login**/
.login_lft.login_ryt img {  width: auto;}
.login_lft.login_mdl {   display: none;}
.login_lft span {margin-left: 6px;}
.login_lft p span a {font-size: 13px;}
.login_ryt {  padding-left: 0;}

/*****   footer code     *****/
footer {height: 80px;}body {padding-bottom: 100px;}

/***********TrainerProfilePage     *****/
.trainer_info_right {max-width: 100%;}
.event_calender {text-align: center;}
.trainer_sec {margin-top:0;}
.triner_info .profile_image {width:100%;}
.triner_info .profile_image > img {border: 1px solid #cccccc;box-shadow: 0 0 3px #444444;height: auto;margin-bottom: 20px;margin-top: -23%;padding: 2px;width: 22%;}

/****   USER PROFILE PAGE   ****/
.user_profile_sec .profile_image {height: auto;margin-top: -18%;overflow: hidden;width: 36%;}

/*****   FRIEND PROFILE PAGE    *****/
.triner_box_part.user_box_part.frnd_proifile_box > a {border: medium none;text-align: center;width: 50%;}
.triner_box_part.user_box_part.frnd_proifile_box span {float:none; display:inline-block;}
.frnd_profile_btn span.first_border {border:none;}
.triner_box_part .frnd_profile_btn span{width:49.5%; text-align:center; padding: 10px 0;}
}
@media (max-width:550px){
/*****************Create event page *****************/
.event_date .member .col-xs-8, .event_date .member .col-xs-4 ,.event_member .member .col-xs-7, .event_member .member .col-xs-5, .event_title .col-xs-3, .event_title .col-xs-9 {								width: 100%;margin-bottom: 22px;}
.event_date .member .col-xs-4, .event_member .member .col-xs-5, .event_title .col-xs-3,{margin-bottom: 0;}
.event_date .member .last > input {margin: 0 0 0 31px !important;}
.event_member input {max-width: 600px;}
.create_evnt_btn {text-align: center;}

/****   ALL FRIENDS PAGE   ****/
.frnd_search {display: block;float: none;margin: 0 auto;}
}
@media (min-width:480px) and (max-width:599px){
.add_frnd_btn {margin-left: 4%;}
.add_frnd_btn .btn.btn-primary {padding: 7px 14px;}
}
@media (max-width:479px){
/*****************Create event page *****************/
.date2, .time {float: left;margin-bottom: 10px;width: 100%;}
 .btn_ryt {font-size: 13px;padding: 7px;}
.cmnt_list > p {font-size: 11px;}
.Pegs h3 {font-size: 28px;text-align: center;}
.login_lft h5 a {font-size: 14px;margin-left: 0;margin-top: 6px;}
.login_lft.login_ryt img {width: 100%;}

/***********TrainerProfilePage***********/
.triner_box_part a {border-right: 0 none;float: left;margin: 10px 0;text-align: center;width: 50%;}
.triner_box_part span {float: none;padding: 0;text-align: left;}
.user_profile_edit_btn .edit_btn {display: block;margin-bottom: 9px;text-align: center;}
.trainer_info_right .user_profile_edit_btn .btn.btn-primary {max-width: 200px;width: 100%;}

/****   USER PROFILE PAGE   ****/
.triner_box_part.user_box_part span {padding:0;}

/****   ALL FRIENDS PAGE   ****/
.add_frnd_btn {width:100%; text-align:center; margin-left:0; margin-top:20px;}


/*****   FRIEND PROFILE PAGE    *****/
.frnd_profile_btn {clear: both;float: left;margin: 20px 0;text-align: center;width: 100%;}
.triner_box_part.frnd_proifile_box span {text-align:center;}
.frnd_profile_btn span.first_border {margin-bottom:20px;}
.triner_box_part .frnd_profile_btn span {width:100%;}
}
@media (max-width:359px){
.login_lft h5 a {  float: left;}
}